// Заголовки, общие БЄМ блоки и проче...
img {
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

._md1dn {
  @media (max-width:$pc){
    display: none !important;
  }
}

._mmd1dn {
  @media (min-width:$pc){
    display: none !important;
  }
}

._md2dn {
  @media (max-width:$tablet){
    display: none !important;
  }
}

._mmd2dn {
  @media (min-width:$tablet){
    display: none !important;
  }
}

._md3dn {
  @media (max-width:$mobile){
    display: none !important;
  }
}

._mmd3dn {
  @media (min-width:$mobile){
    display: none !important;
  }
}

._md4dn {
  @media (max-width:$mobileSmall){
    display: none !important;
  }
}

._mmd4dn {
  @media (min-width:$mobileSmall){
    display: none !important;
  }
}
//=================================================================================================
.btn {
  border-radius: rem(4);
  color: var(--btnclr);
  background-color: var(--btnbg);
  border: rem(1) solid var(--bdc);
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: rem(13);
  display: inline-block;
  text-align: center;
  @media (any-hover: hover){
    &:hover{
      background-color: var(--btnclr);
      color: var(--btnbg);
    }
  }
  &-blue {
    --btnbg: #417DB5;
    --bdc: #417DB5;
    --btnclr: #fff;
  }
  &-lightblue {
    --btnbg: #2CA5F5;
    --bdc: #2CA5F5;
    --btnclr: #fff;
  }
  &-border {
    --btnbg: #fff;
    --bdc: #2CA5F5;
    --btnclr: #2CA5F5;
  }
  &-white {
    --btnbg: #fff;
    --bdc: #fff;
    --btnclr: #2CA5F5;
    font-weight: normal;
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        color: #2CA5F5;
        opacity: 0.8;
      }
    }
  }
}
//=================================================================================================
.authPopup {

  &__wrapper {
  }

  &__content {
    background-color: #fff;
    padding: rem(24);
    @media (min-width:$mobile){
      max-width: rem(368);
      border-radius: rem(8);
      &_question {
        max-width: rem(480);
      }
    }
  }

  &__top {
    display: flex;
    gap: rem(10);
    justify-content: space-between;
    &:not(:last-child) {margin-bottom: rem(8);}
  }

  &__back {
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: #F5F5F5;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    transform: translateX(-50%);
    @media (max-width:$mobile){
      display: flex;
      align-items: center;
      gap: rem(8);
      width: auto;
      transform: none;
      svg {
        flex: 1 1 rem(8);
        width: rem(8);
      }
    }
    span {
      @media (min-width:$mobile){
        display: none;
      }
    }
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
      }
    }
  }

  &__close {
    position: relative;
    display: block;
    margin-left: auto;
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: #F5F5F5;
    @media (min-width:$mobile){
      transform: translateX(50%);
    }
    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(12);
      height: rem(2);
      background-color: #8E8E93;
      transition: all 0.3s ease 0s;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @media (any-hover: hover){
      &:hover{
        &::before,&::after{
          background-color: #000;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {margin-bottom: rem(20);}
  }

  &__title {
    color: #111;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(24 , 20);
    &:not(:last-child) {margin-bottom: rem(4);}
  }

  &__subtitle {
    color: #8E8E93;
    font-size: rem(13);
    line-height: math.div(18 , 13);
  }

  &__form {
  }

  &__finaltext {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
}
.form-authPopup {
  display: flex;
  flex-direction: column;
  @media (max-width:$mobile){
    flex: 1 1 auto;
  }
  &>.form__error {
    order: -1;
    margin-bottom: rem(8);
    color: red;
    font-size: rem(12);
  }

  &__item {
    position: relative;
    &_input {
      &:not(:last-child) {margin-bottom: rem(18);}
    }
    &_timer {
      font-size: rem(13);
      color: #8E8E93;
      padding: rem(15) 0;
      line-height: math.div(24 , 13);
    }
    &_radio {
      position: relative;
      &:not(:last-child) {margin-bottom: rem(16);}
    }
    &_checkbox {
      position: relative;
      &:not(:last-child) {margin-bottom: rem(16);}
    }
    &_btn {
      margin-top: auto;
    }
    &:has(label) {
      input,
      .select__value {
        padding: rem(19) rem(15) rem(5);
      }
      .form-authPopup__subitem .select__value {
        padding: rem(5) rem(15);
      }
    }
    .form__error {
      position: absolute;
      bottom: calc(100% + rem(2));
      left: 0;
      font-size: rem(12);
      color: red;
    }
    .form-authPopup__subitem .select {
      margin-top: rem(8);
    }
    .select {
      * {
        transition: all 0.3s ease 0s;
      }
      &._select-focus {
        .select__title,
        .select__options {
          border-color: #2CA5F5;
        }
      }
      &._form-error {
        .select__input::placeholder {
          color: red;
        }
        .select__title,
        .select__options {
          border-color: red;
        }
      }
      &._select-open {
        .select__value {
          &::before,&::after{
            background-color: #2CA5F5;
          }
          &::before{
            transform: translateY(-50%) rotate(45deg); 
          }
          &::after{
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
      input {
        padding: 0;
      }
      .select__title {
        position: relative;
      }
      .select__value {
        height: rem(54);
        &::before,&::after{
          content:'';
          position: absolute;
          top: 50%;
          width: rem(10);
          height: rem(2);
          background-color: #8E8E93;
          transition: all 0.3s ease 0s;
        }
        &::before{
          transform: translateY(-50%) rotate(-45deg); 
          right: rem(17);
        }
        &::after{
          transform: translateY(-50%) rotate(45deg); 
          right: rem(24);
        }
      }
      .select__options {
        top: calc(100% + rem(8));
        border: none;
        box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
        border-radius: rem(4);
        padding: rem(4);
      }
      .select__option {
        padding: rem(10) rem(8);
        @media (any-hover: hover){
          &:hover{
            background-color: #F5F5F5;
          }
        }
      }
    }
  }

  &__input {
    width: 100%;
    padding: rem(5) rem(15);
    font-size: rem(15);
    background-color: #f9f9f9;
    border: 1px solid transparent;
    min-height: rem(54);
    border-radius: rem(4);
    &:focus {
      border-color: #2CA5F5;
    }
    &._form-error {
      border-color: red;
    }
  }

  &__radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    &+label {
      color: #000;
      display: flex;
      align-items: center;
      gap: rem(8);
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(9999999);
      }
    }
    &:checked+label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(4) #2ca5f5 inset;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    &+label {
      color: #000;
      display: flex;
      align-items: flex-start;
      line-height: math.div(20 , 15);
      gap: rem(8);
      cursor: pointer;
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(4);
      }
      &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(20);
        height: rem(20);
        background-image: url(../img/icons/check.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
      a {
        color: #2ca5f5;
        @media (any-hover: hover){
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &:checked+label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(10) #2ca5f5 inset;
    }
    &._form-error+label::before{
      border-color: red;
    }
  }

  &__subitem {
    .form-authPopup__subinput {
      padding: rem(9) rem(14);
      width: 100%;
      margin-top: rem(8);
      border-radius: rem(4);
      background-color: #f9f9f9;
      border: 1px solid #f9f9f9;
      transition: all 0.3s ease 0s;
      &._form-error {
        border-color: red;
        &::placeholder {
          color: red;
        }
      }
      &._form-input,
      &._form-focus {
        border-color: #2CA5F5;
      }
    }
  }

  &__label {
    .form-authPopup__item_input & {
      position: absolute;
      left: rem(16);
      top: rem(16);
      pointer-events: none;
    }
    .form-authPopup__item_input._form-focus &,
    .form-authPopup__item_input._form-input &,
    .form-authPopup__item_input._select-open &,
    .form-authPopup__item_input._select-active & {
      z-index: 10;
      transform: translateY(rem(-14)) scale(.8);
    }
    font-size: rem(15);
    line-height: math.div(20 , 15);
    transition: all 0.3s ease 0s;
    color: #8E8E93;
    cursor: pointer;
    transform-origin: 0 100%;
    ._form-error & {
      color: red;
    }
  }

  &__button {
    width: 100%;
    font-size: rem(15);
    line-height: math.div(24 , 15);
    padding: rem(15) rem(24);
    min-height: rem(54);
    &.btn-white {
      padding-bottom: 0;
      min-height: 0;
    }
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__pin {
    text-align: center;
    width: 100%;
    font-size: rem(28);
    line-height: math.div(32 , 28);
    letter-spacing: rem(10);
    height: rem(42);
  }
}
//=================================================================================================
.splide {

  &__arrows {
    position: absolute;
    top: 50%;
    left: rem(-22);
    transform: translateY(-50%);
    width: calc(100% + rem(44));
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
  }

  &__arrow {
    width: rem(44);
    height: rem(44);
    display: flex;
    justify-content:center;align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(26, 26, 26, 0.1);
    border-radius: 50%;
    pointer-events: all;
    transition: all 0.3s ease 0s;
    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__arrow--prev {
  }

  &__arrow--next {
  }
}
//=================================================================================================
.section-head {
  display: flex;
  align-items: flex-end;
  gap: rem(10);
  justify-content: space-between;
}
.section-title {
  font-weight: 600;
  line-height: math.div(33.6 , 28);
  color: #111;
  @include adaptiveValue("font-size", 28, 20, 1920, 480, 1);
}
.section-all {
  color: #8A8A8A;
  font-size: rem(15);
  line-height: math.div(20.43 , 15);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      color: #2CA5F5;
    }
  }
}
//=================================================================================================
.star-tippy {
  display: flex;
  padding: rem(16) rem(12);
  gap: rem(8);
  opacity: 1 !important;

  &__star {
  }

  &__text {
    font-size: rem(13);
    color: #8A8A8A;
    line-height: math.div(17.7 , 13);
    text-align: left;
    font-weight: normal;
  }
}
//=================================================================================================

.popupEventRegFull {
  @media (max-width:$mobile){
    padding: rem(21) 0 0;
  }

  &__wrapper {
    @media (max-width:$mobile){
      justify-content: flex-end;
    }
  }

  &__content {
    background-color: #fff;
    max-width: rem(794);
    border-radius: rem(8);
    @include adaptiveValue("padding", 24, 16, 1920, 480, 1);
    @media (max-width:$mobile){
      border-radius: 0;
    }
  }

  &__close {
    @media (min-width:$mobile){
      position: absolute;
      top: rem(12);
      right: rem(12);
      width: rem(32);
      height: rem(32);
      background-color: #f5f5f5;
      border-radius: 50%;
      &::before,&::after{
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #8E8E93;
        width: rem(12);
        height: rem(2);
        transition: all 0.3s ease 0s;
      }
      &::before{
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after{
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    @media (any-hover: hover){
      &:hover{
        &::before,&::after{
          background-color: #000;
        }
      }
    }
    @media (max-width:$mobile){
      position: absolute;
      bottom: calc(100% - rem(21));
      left: 0;
      width: 100%;
      height: rem(42);
      background-color: #fff;
      border-radius: rem(16) rem(16) 0 0;
      &::before{
        content:'';
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(52);
        height: rem(5);
        border-radius: rem(999999);
        background-color: #E0E0E3;
      }
    }
  }

  &__text {
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 16, 1920, 480, 1);
    }
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 20, 1920, 480, 1);
    line-height: math.div(28.8 , 24);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
.form-popupEventRegFull {

  &__row {
    position: relative;
    @include adaptiveValue("margin-bottom", 24, 16, 1920, 480, 1);
    &_info {
      padding: rem(12);
      border-radius: rem(8);
      background-color: #E1E1E1;
      color: #8A8A8A;
      @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
      line-height: math.div(20.43 , 15);
    }
    .form__error {
      position: absolute;
      left: 0;
      bottom: calc(100% + rem(2));
      color: #FF0000;
      font-size: rem(13);
    }
  }

  &__inputs {
  }

  &__radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    &+label {
      color: #000;
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(9999999);
      }
    }
    &:checked+label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(4) #2ca5f5 inset;
    }
    &:disabled+label {
      .form-popupEventRegFull__black {
        opacity: 0.5;
        pointer-events: none;
      }
      &::before{
        content:'';
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &__label {
    display: grid;
    align-items: center;
    column-gap: rem(8);
    row-gap: rem(4);
    grid-template-columns: rem(20) auto;
    cursor: pointer;
    a {
      color: #2CA5F5;
      @media (any-hover: hover){
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &__black {
    display: flex;
    align-items: center;
    gap: rem(8);
    color:#000;
  }

  &__smallstars {
    background-color: #FFCB79;
    color: #fff;
    display: flex;
    align-items: center;
    padding: rem(4) rem(8);
    >span {
      font-size: rem(9);
      line-height: 1;
    }
  }

  &__grey {
    grid-column: 2;
    color: #8A8A8A;
    font-size: rem(13);
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    &+label {
      color: #000;
      display: flex;
      align-items: flex-start;
      line-height: math.div(20 , 15);
      gap: rem(8);
      padding-bottom: rem(12);
      color: #8A8A8A;
      @include adaptiveValue("font-size", 13, 11);
      border-bottom: .5px solid rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(4);
      }
      &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(20);
        height: rem(20);
        background-image: url(../img/icons/check.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
      a {
        color: #2ca5f5;
        @media (any-hover: hover){
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &:checked+label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(10) #2ca5f5 inset;
    }
    &._form-error+label::before{
      border-color: red;
    }
  }

  &__footer {
    display: flex;
    gap: rem(5);
    @media (min-width:$mobile){
      align-items: center;
      justify-content: space-between;
      padding-top: rem(24);
    }
    @media (max-width:$mobile){
      flex-direction: column;
    }
  }

  &__prices {
    // display: grid;
    display: inline-grid;
    grid-template-columns: max-content var(--regstr);
    column-gap: rem(12);
    align-items: center;
  }

  &__price {
    font-weight: 600;
    line-height: math.div(46.3 , 34);
    @include adaptiveValue("font-size", 34, 24, 1920, 480, 1);
    display: inline;
  }

  &__stars {
    background-color: #FFCB79;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding: rem(8) rem(16);
    gap: rem(4);
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
    @media (max-width:$mobile){
      padding: rem(7) rem(15);
    }
  }

  &__oldprice {
    display: inline;
    color: #8E8E93;
    text-decoration: line-through;
    font-size: rem(16);
    grid-row-start: 2;
    @media (min-width:$mobile){
      display: none;
    }
  }

  &__button {
    position: relative;
    padding: rem(17);
    font-size: rem(15);
    @media (min-width:$mobile){
      min-width: rem(339);
    }
    span {
      position: absolute;
      bottom: calc(100% + rem(4));
      right: 0;
      color: #8A8A8A;
      @include adaptiveValue("font-size", 15, 13);
      line-height: math.div(20 , 15);
      font-weight: 400;
    }
  }
}
:root {
  @include adaptiveValue("--regstr", 70, 63, 1920, 480, 1);
  @include adaptiveValue("--regprcsz", 140, 100, 767, 480, 1);
}
//=================================================================================================
.subscribe {
  background-color: #2CA5F5;
  color: #fff;
  @include adaptiveValue("padding-top", 44, 16, 1920, 480, 1);
  @include adaptiveValue("padding-bottom", 44, 16, 1920, 480, 1);
  @media (min-width:$mobile){
    background-image: url(../img/common/subscribe/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: rem(12);
    @media (max-width:$mobile){
      flex-direction: column;
    }
  }

  &__content {
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 32, 20, 1920, 480, 1);
    line-height: math.div(24 , 20);
    font-weight: 700;
    &:not(:last-child) {margin-bottom: rem(8);}
    @media (max-width:$mobile){
      font-weight: 600;
    }
  }

  &__text {
    @include adaptiveValue("font-size", 15, 12, 1920, 480, 1);
    line-height: math.div(20.43 , 15);
  }

  &__form {
  }
}
.form-subscribe {
  @media (min-width:$mobile){
    flex: 0 1 44.5%;
    margin-left: auto;
  }

  &__row {
    position: relative;
    display: flex;
    @include adaptiveValue("gap", 12, 8, 1920, 480, 1);
    &:not(:last-child) {margin-bottom: rem(12);}
    .form__error {
      position: absolute;
      left: 0;
      bottom: calc(100% + rem(9));
      font-size: rem(13);
      border-radius: rem(4);
      background-color: #333342;
      padding: rem(4) rem(8);
      &::after{
        content: "";
        position: absolute;
        display: block;
        border: rem(6) solid transparent;
        border-top: rem(6) solid #333342;
        left: rem(9);
        top: 100%;
      }
    }
    &_content {
      @include adaptiveValue("font-size", 13, 12, 1920, 480, 1);
      a {
        text-decoration: underline;
        @media (any-hover: hover){
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    @media (max-width:$mobile){
      flex-direction: column;
    }
  }

  &__input {
    @media (min-width:em(1200)){
      flex: 0 0 rem(360);
    }
    padding: rem(20) rem(12) rem(6);
    flex: 1 1 auto;
    border-radius: rem(4);
    transition: all 0.3s ease 0s;
    min-height: rem(54);
    &._form-error {
      background: linear-gradient(0deg,rgba(255,59,48,.1),rgba(255,59,48,.1)),#fff;
    }
    &+label {
      position: absolute;
      color: #8E8E93;
      left: rem(12);
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
      ._form-focus &,
      ._form-input & {
        font-size: rem(11);
        top: 25%;
      }
      ._form-error & {
        color: rgba(255,59,48,1);
      }
      @media (max-width:$mobile){
        top: rem(26);
        ._form-focus &,
        ._form-input & {
          top: rem(15);
        }
      }
    }
    @media (max-width:$mobile){
      border-radius: rem(8);
    }
  }

  &__button {
    display: block;
    min-width: rem(160);
    padding: rem(17);
    font-weight: 600;
    font-size: rem(15);
    --btnbg: #fff;
    --bdc: #fff;
    --btnclr: #2CA5F5;
    border-radius: rem(4);
    @media (max-width:$mobile){
      border-radius: rem(8);
    }
  }
}
//=================================================================================================
.reviews {
  @include adaptiveValue("padding-top", 40, 24, 1920, 480, 1);

  &__container {
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 21, 16, 1920, 480, 1);
    }
  }

  &__title {
  }

  &__all {
  }

  &__body {
  }

  &__slider {
    @media (max-width:$mobileSmall){
      max-width: 67.45vw;
    }
  }

  &__track {
    margin: 0 rem(-20);
    padding-left: rem(20) !important;
    padding-right: rem(20) !important;
    @include adaptiveValue("padding-bottom", 40, 24, 1920, 480, 1);
    @media (max-width:$mobileSmall){
      overflow: visible !important;
    }
  }

  &__list {
  }

  &__slide {
    @include adaptiveValue("padding", 16, 12, 1920, 480, 1);
    border-radius: rem(12);
    box-shadow: 0px rem(8) rem(20) rgba(26, 26, 26, 0.1);
    display: flex;
    flex-direction: column;
  }

  &__text {
    &:not(:last-child) {margin-bottom: rem(24);}
    font-weight: 600;
    line-height: math.div(21.6 , 18);
    @include adaptiveValue("font-size", 18, 13, 1920, 480, 1);
  }

  &__person {
    margin-top: auto;
    align-self: flex-end;
    line-height: math.div(20.43 , 15);
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
    &::before{
      content:'—';
      display: inline-block;
      margin-right: rem(5);
    }
  }

  &__arrows {
    @media (max-width:$mobile){
      display: none;
    }
  }

  &__arrow {
  }

  &__arrow--prev {
  }

  &__arrow--next {
  }
}
//=================================================================================================
.ormcoban {

  &__container {
    box-sizing: border-box;
    background-color: #2CA5F5;
    @media (min-width:$mobile){
      min-height: rem(400);
    }
    border-radius: rem(12);
    color: #fff;
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: var(--bnrptb) var(--bnrplr);
    @media (min-width:$mobile){
      background-image: url(../img/common/banner_ormco/bg_dsc.png);
      background-position: top right;
    }
    @media (max-width:$pc){
      max-width: calc(100vw - rem(30));
      margin: 0 rem(15);
    }
    @media (max-width:$mobile){
      background-image: url(../img/common/banner_ormco/bg_mob.png);
      background-position: top center;
    }
  }

  &__content {
    line-height: 1.2;
    @include adaptiveValue("font-size", 16, 12, 1920, 480, 1);
    @media (min-width:$mobile){
      max-width: rem(464);
    }
    h2 {
      font-weight: 700;
      line-height: math.div(40.8 , 34);
      @include adaptiveValue("font-size", 34, 16, 1920, 480, 1);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 16, 4, 1920, 480, 1);
      }
      @media (max-width:$mobile){
        font-weight: 600;
      }
    }
    &:not(:last-child) {margin-bottom: rem(24);}
  }

  &__button {
    margin-top: auto;
    align-self: flex-start;
    --btnclr: #fff;
    --bdc: #fff;
    --btnbg: #2CA5F5;
    min-width: rem(200);
    border-radius: rem(8);
    @include adaptiveValue("font-size", 15, 12, 1920, 480, 1);
    line-height: math.div(20.43 , 15);
    @include adaptiveValue("padding", 17, 10, 1920, 480, 1);
    @media (max-width:$mobile){
      min-width: rem(124);
      font-weight: 400;
    }
  }
}

:root {
  @include adaptiveValue("--bnrptb", 60, 47, 1920, 480, 1);
  @include adaptiveValue("--bnrplr", 60, 16, 1920, 480, 1);
}
//=================================================================================================
.contacts {
  @include adaptiveValue("padding-top", 40, 24, 1920, 480, 1);
  @include adaptiveValue("padding-bottom", 26, 12, 1920, 480, 1);

  &__container {
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 22, 16, 1920, 480, 1);
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.2;
  }

  &__body {
    display: flex;
    @include adaptiveValue("gap", 72, 16, 1200, 480, 1);
    @media (max-width:$pc){
      flex-wrap: wrap;
    }
    @media (max-width:$mobileSmall){
      flex-direction: column;
    }
  }

  &__item {
  }

  &__grey {
    &:not(:last-child) {margin-bottom: rem(8);}
    color: #8E8E93;
    line-height: 1.2;
    font-size: rem(15);
  }

  &__phone {
    line-height: math.div(24 , 18);
    font-weight: 600;
    transition: all 0.3s ease 0s;
    font-size: rem(18);
    @media (any-hover: hover){
      &:hover{
        color: #2CA5F5;
      }
    }
  }

  &__button {
    padding: rem(17);
    font-size: rem(15);
    line-height: 1.2;
    min-width: rem(200);
    @media (min-width:$pc){
      margin-left: auto;
    }
    @media (max-width:$mobileSmall){
      flex: 1 1 auto;
      width: 100%;
    }
  }
}
//=================================================================================================
.partners {
  @include adaptiveValue("padding-top", 26, 12, 1920, 480, 1);
  @include adaptiveValue("padding-bottom", 26, 12, 1920, 480, 1);

  &__container {
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 22, 16, 1920, 480, 1);
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.2;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(12);
    @include adaptiveValue("column-gap", 20, 13, 1920, 480, 1);
  }

  &__item {
    position: relative;
    border-radius: rem(8);
    border: rem(1) solid rgba(142, 142, 147, 0.2);
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - rem(20));
      height: calc(100% - rem(12));
      object-fit: contain;
      object-position: center;
    }
    @media (min-width:$mobile){
      width: rem(183);
      flex: 0 1 rem(183);
      height: rem(100);
    }
    @media (max-width:$mobile){
      flex: 0 0 calc(50% - rem(7));
      max-width: rem(165);
      height: rem(98);
    }
  }
}
//=================================================================================================
.application {
  @include adaptiveValue("padding-top", 26, 12, 1920, 480, 1);
  @include adaptiveValue("padding-bottom", 60, 24, 1920, 480, 1);

  &__container {
  }

  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 22, 16, 1920, 480, 1);
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.2;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(12);
    @include adaptiveValue("column-gap", 20, 13, 1920, 480, 1);
  }

  &__item {
    @include adaptiveValue("width", 183, 165, 1920, 480, 1);
  }
}
