// Заголовки, общие БЄМ блоки и проче...

[hidden] {
  display: none !important;
}

._md1dn {
  @media (max-width:$pc){
    display: none !important;
  }
}

._mmd1dn {
  @media (min-width:$pc){
    display: none !important;
  }
}

._md2dn {
  @media (max-width:$tablet){
    display: none !important;
  }
}

._mmd2dn {
  @media (min-width:$tablet){
    display: none !important;
  }
}

._md3dn {
  @media (max-width:$mobile){
    display: none !important;
  }
}

._mmd3dn {
  @media (min-width:$mobile){
    display: none !important;
  }
}

._md4dn {
  @media (max-width:$mobileSmall){
    display: none !important;
  }
}

._mmd4dn {
  @media (min-width:$mobileSmall){
    display: none !important;
  }
}


.btn {
  border-radius: rem(4);
  color: var(--btnclr);
  background-color: var(--btnbg);
  border: rem(1) solid var(--btnbg);
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: rem(13);
  @media (any-hover: hover){
    &:hover{
      background-color: var(--btnclr);
      color: var(--btnbg);
    }
  }
  &-blue {
    --btnbg: #417DB5;
    --btnclr: #fff;
  }
  &-lightblue {
    --btnbg: #2CA5F5;
    --btnclr: #fff;
  }
  &-white {
    --btnbg: #fff;
    --btnclr: #2CA5F5;
    font-weight: normal;
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        color: #2CA5F5;
        opacity: 0.8;
      }
    }
  }
}




.authPopup {

  &__wrapper {
  }

  &__content {
    max-width: rem(368);
    background-color: #fff;
    border-radius: rem(8);
    padding: rem(24);
  }

  &__top {
    display: flex;
    gap: rem(10);
    justify-content: space-between;
    &:not(:last-child) {margin-bottom: rem(8);}
  }

  &__back {
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: #F5F5F5;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    transform: translateX(-50%);
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
      }
    }
  }

  &__close {
    position: relative;
    display: block;
    margin-left: auto;
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: #F5F5F5;
    transform: translateX(50%);
    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(12);
      height: rem(2);
      background-color: #8E8E93;
      transition: all 0.3s ease 0s;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @media (any-hover: hover){
      &:hover{
        &::before,&::after{
          background-color: #000;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {margin-bottom: rem(20);}
  }

  &__title {
    color: #111;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(24 , 20);
    &:not(:last-child) {margin-bottom: rem(4);}
  }

  &__subtitle {
    color: #8E8E93;
    font-size: rem(13);
    line-height: math.div(18 , 13);
  }

  &__form {
  }

  &__finaltext {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
}
.form-authPopup {
  display: flex;
  flex-direction: column;
  &>.form__error {
    order: -1;
    margin-bottom: rem(8);
    color: red;
    font-size: rem(12);
  }

  &__item {
    position: relative;
    &_input {
      &:not(:last-child) {margin-bottom: rem(18);}
    }
    &_timer {
      font-size: rem(13);
      color: #8E8E93;
      padding: rem(15) 0;
      line-height: math.div(24 , 13);
    }
    &_radio {
      position: relative;
      &:not(:last-child) {margin-bottom: rem(16);}
    }
    &_checkbox {
      position: relative;
      &:not(:last-child) {margin-bottom: rem(16);}
    }
    &:has(label) {
      input,
      .select__value {
        padding: rem(19) rem(15) rem(5);
      }
    }
    .form__error {
      position: absolute;
      bottom: calc(100% + rem(2));
      left: 0;
      font-size: rem(12);
      color: red;
    }
    .form-authPopup__subitem .select {
      margin-top: rem(8);
    }
    .select {
      * {
        transition: all 0.3s ease 0s;
      }
      &._select-focus {
        .select__title,
        .select__options {
          border-color: #2CA5F5;
        }
      }
      &._form-error {
        .select__input::placeholder {
          color: red;
        }
        .select__title,
        .select__options {
          border-color: red;
        }
      }
      &._select-open {
        .select__value {
          &::before,&::after{
            background-color: #2CA5F5;
          }
          &::before{
            transform: translateY(-50%) rotate(45deg); 
          }
          &::after{
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
      input {
        padding: 0;
      }
      .select__title {
        position: relative;
      }
      .select__value {
        height: rem(54);
        &::before,&::after{
          content:'';
          position: absolute;
          top: 50%;
          width: rem(10);
          height: rem(2);
          background-color: #8E8E93;
          transition: all 0.3s ease 0s;
        }
        &::before{
          transform: translateY(-50%) rotate(-45deg); 
          right: rem(17);
        }
        &::after{
          transform: translateY(-50%) rotate(45deg); 
          right: rem(24);
        }
      }
      .select__options {
        top: calc(100% + rem(8));
        border: none;
        box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
        border-radius: rem(4);
        padding: rem(4);
      }
      .select__option {
        padding: rem(10) rem(8);
        @media (any-hover: hover){
          &:hover{
            background-color: #F5F5F5;
          }
        }
      }
    }
  }

  &__input {
    width: 100%;
    padding: rem(5) rem(15);
    font-size: rem(15);
    background-color: #f9f9f9;
    border: 1px solid transparent;
    min-height: rem(54);
    border-radius: rem(4);
    &:focus {
      border-color: #2CA5F5;
    }
    &._form-error {
      border-color: red;
    }
  }

  &__radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    &+label {
      color: #000;
      display: flex;
      align-items: center;
      gap: rem(8);
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(9999999);
      }
    }
    &:checked+label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(4) #2ca5f5 inset;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    &+label {
      color: #000;
      display: flex;
      align-items: flex-start;
      line-height: math.div(20 , 15);
      gap: rem(8);
      cursor: pointer;
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(4);
      }
      &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(20);
        height: rem(20);
        background-image: url(../img/icons/check.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
      a {
        color: #2ca5f5;
        @media (any-hover: hover){
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &:checked+label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(10) #2ca5f5 inset;
    }
    &._form-error+label::before{
      border-color: red;
    }
  }

  &__subitem {
    .form-authPopup__subinput {
      padding: rem(9) rem(14);
      width: 100%;
      margin-top: rem(8);
      border-radius: rem(4);
      background-color: #f9f9f9;
      border: 1px solid #f9f9f9;
      transition: all 0.3s ease 0s;
      &._form-error {
        border-color: red;
        &::placeholder {
          color: red;
        }
      }
      &._form-input,
      &._form-focus {
        border-color: #2CA5F5;
      }
    }
  }

  &__label {
    .form-authPopup__item_input & {
      position: absolute;
      left: rem(16);
      top: rem(16);
      pointer-events: none;
    }
    .form-authPopup__item_input._form-focus &,
    .form-authPopup__item_input._form-input &,
    .form-authPopup__item_input._select-open &,
    .form-authPopup__item_input._select-active & {
      z-index: 10;
      transform: translateY(rem(-14)) scale(.8);
    }
    font-size: rem(15);
    line-height: math.div(20 , 15);
    transition: all 0.3s ease 0s;
    color: #8E8E93;
    cursor: pointer;
    transform-origin: 0 100%;
    ._form-error & {
      color: red;
    }
  }

  &__button {
    width: 100%;
    font-size: rem(15);
    line-height: math.div(24 , 15);
    padding: rem(15) rem(24);
    min-height: rem(54);
    &.btn-white {
      padding-bottom: 0;
      min-height: 0;
    }
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__pin {
    text-align: center;
    width: 100%;
    font-size: rem(28);
    line-height: math.div(32 , 28);
    letter-spacing: rem(10);
    height: rem(42);
  }
}